@font-face {
  font-family: 'RobotoBold';
  src: url('./Assets/Fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'RobotoMedium';
  src: url('./Assets/Fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'RobotoHead';
  src: url('./Assets/Fonts/Roboto-Black.ttf');
}

@font-face {
  font-family: 'RobotoGeneral';
  src: url('./Assets/Fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('./Assets/Fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Dorif';
  src: url('./Assets/Fonts/DroidSerif-Italic.ttf');
}

.Page-Aligner {
  height: 45px;
}

.Hero-Image {
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100%;
  background-image: url("./Assets/Images/Home/Hero.png");
  background-size: cover;
  background-position: right;
}

.Align-Hero-Image {
  height: 100%;
  width: 100%;
  background-color: #29005edb;
}